<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>general_back11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{481,527}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{481,527}}</string>
                <key>sourceSize</key>
                <string>{481,527}</string>
            </dict>
            <key>general_level_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,144},{236,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,63}}</string>
                <key>sourceSize</key>
                <string>{238,63}</string>
            </dict>
            <key>map_btn_back_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,73},{66,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,69}}</string>
                <key>sourceSize</key>
                <string>{66,69}</string>
            </dict>
            <key>map_btn_back_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,2},{66,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,69}}</string>
                <key>sourceSize</key>
                <string>{66,69}</string>
            </dict>
            <key>start_end_btn_start_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,2},{234,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{234,80}}</string>
                <key>sourceSize</key>
                <string>{238,80}</string>
            </dict>
            <key>start_end_btn_start_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,238},{220,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{220,80}}</string>
                <key>sourceSize</key>
                <string>{224,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gamelevel__select_texture.png</string>
            <key>size</key>
            <string>{681,485}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:462627b97c060226487cebe7292c165f$</string>
            <key>textureFileName</key>
            <string>gamelevel__select_texture.png</string>
        </dict>
    </dict>
</plist>
