<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Blue_Horiz0.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,370},{68,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,60}</string>
            </dict>
            <key>Blue_Horiz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,134},{68,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>Blue_Horiz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,134},{68,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>Blue_Horiz3.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,224},{68,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>Blue_Horiz4.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,154},{68,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>Blue_Horiz5.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,70},{68,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>Blue_Horiz6.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,70},{68,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>Blue_Horiz7.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,84},{68,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>Blue_Horiz8.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{68,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>Green_Horiz0.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,266},{68,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,58}}</string>
                <key>sourceSize</key>
                <string>{68,58}</string>
            </dict>
            <key>Green_Horiz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,198},{68,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,58}}</string>
                <key>sourceSize</key>
                <string>{68,58}</string>
            </dict>
            <key>Green_Horiz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,414},{68,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,56}}</string>
                <key>sourceSize</key>
                <string>{68,56}</string>
            </dict>
            <key>Green_Horiz3.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,396},{68,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,56}}</string>
                <key>sourceSize</key>
                <string>{68,56}</string>
            </dict>
            <key>Green_Horiz4.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,430},{68,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,56}}</string>
                <key>sourceSize</key>
                <string>{68,56}</string>
            </dict>
            <key>Green_Horiz5.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,358},{68,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,56}}</string>
                <key>sourceSize</key>
                <string>{68,56}</string>
            </dict>
            <key>Green_Horiz6.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,344},{68,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,56}}</string>
                <key>sourceSize</key>
                <string>{68,56}</string>
            </dict>
            <key>Green_Horiz7.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,508},{68,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,58}}</string>
                <key>sourceSize</key>
                <string>{68,58}</string>
            </dict>
            <key>Green_Horiz8.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,508},{68,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,58}}</string>
                <key>sourceSize</key>
                <string>{68,58}</string>
            </dict>
            <key>Pink_Horiz0.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,316},{68,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,56}}</string>
                <key>sourceSize</key>
                <string>{68,56}</string>
            </dict>
            <key>Pink_Horiz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,288},{68,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,56}}</string>
                <key>sourceSize</key>
                <string>{68,56}</string>
            </dict>
            <key>Pink_Horiz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,288},{68,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,56}}</string>
                <key>sourceSize</key>
                <string>{68,56}</string>
            </dict>
            <key>Pink_Horiz3.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,274},{68,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,56}}</string>
                <key>sourceSize</key>
                <string>{68,56}</string>
            </dict>
            <key>Pink_Horiz4.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,374},{68,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,54}}</string>
                <key>sourceSize</key>
                <string>{68,54}</string>
            </dict>
            <key>Pink_Horiz5.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,258},{68,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,56}}</string>
                <key>sourceSize</key>
                <string>{68,56}</string>
            </dict>
            <key>Pink_Horiz6.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,136},{68,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,56}}</string>
                <key>sourceSize</key>
                <string>{68,56}</string>
            </dict>
            <key>Pink_Horiz7.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,66},{68,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,56}}</string>
                <key>sourceSize</key>
                <string>{68,56}</string>
            </dict>
            <key>Pink_Horiz8.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,316},{68,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,56}}</string>
                <key>sourceSize</key>
                <string>{68,56}</string>
            </dict>
            <key>Yellow_Horiz0.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,508},{68,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,58}}</string>
                <key>sourceSize</key>
                <string>{68,58}</string>
            </dict>
            <key>Yellow_Horiz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,508},{68,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,58}}</string>
                <key>sourceSize</key>
                <string>{68,58}</string>
            </dict>
            <key>Yellow_Horiz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,206},{66,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,58}}</string>
                <key>sourceSize</key>
                <string>{66,58}</string>
            </dict>
            <key>Yellow_Horiz3.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,198},{66,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,58}}</string>
                <key>sourceSize</key>
                <string>{66,58}</string>
            </dict>
            <key>Yellow_Horiz4.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,440},{66,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,58}}</string>
                <key>sourceSize</key>
                <string>{66,58}</string>
            </dict>
            <key>Yellow_Horiz5.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,440},{66,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,58}}</string>
                <key>sourceSize</key>
                <string>{66,58}</string>
            </dict>
            <key>Yellow_Horiz6.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,440},{66,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,58}}</string>
                <key>sourceSize</key>
                <string>{66,58}</string>
            </dict>
            <key>Yellow_Horiz7.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,206},{66,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,58}}</string>
                <key>sourceSize</key>
                <string>{66,58}</string>
            </dict>
            <key>Yellow_Horiz8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{68,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,58}}</string>
                <key>sourceSize</key>
                <string>{68,58}</string>
            </dict>
            <key>ball2.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,472},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>game_btn_continue_game_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{192,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,66}}</string>
                <key>sourceSize</key>
                <string>{192,66}</string>
            </dict>
            <key>game_btn_continue_game_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{180,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,70}}</string>
                <key>sourceSize</key>
                <string>{180,70}</string>
            </dict>
            <key>game_btn_pause_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,466},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>game_btn_pause_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,336},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>general_btn_back_main_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{188,64}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{188,64}}</string>
                <key>sourceSize</key>
                <string>{192,66}</string>
            </dict>
            <key>general_btn_back_main_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{178,68}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,68}}</string>
                <key>sourceSize</key>
                <string>{180,72}</string>
            </dict>
            <key>paddle.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,166},{120,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,56}}</string>
                <key>sourceSize</key>
                <string>{120,56}</string>
            </dict>
            <key>skull.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,472},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>start_end_btn_next_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{188,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,64}}</string>
                <key>sourceSize</key>
                <string>{190,64}</string>
            </dict>
            <key>start_end_btn_next_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{176,66}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{176,66}}</string>
                <key>sourceSize</key>
                <string>{180,68}</string>
            </dict>
            <key>start_end_btn_restart_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{234,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,80}}</string>
                <key>sourceSize</key>
                <string>{236,80}</string>
            </dict>
            <key>start_end_btn_restart_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{220,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{220,80}}</string>
                <key>sourceSize</key>
                <string>{224,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_texture.png</string>
            <key>size</key>
            <string>{512,568}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d0c83bdbcc4a40c9bfd01cda1120779$</string>
            <key>textureFileName</key>
            <string>game_texture.png</string>
        </dict>
    </dict>
</plist>
