<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MainMenu_btn_close_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,192},{58,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{58,60}}</string>
                <key>sourceSize</key>
                <string>{60,62}</string>
            </dict>
            <key>MainMenu_btn_close_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,192},{60,62}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{60,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>MainMenu_btn_info_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,192},{48,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,50}}</string>
                <key>sourceSize</key>
                <string>{48,52}</string>
            </dict>
            <key>MainMenu_btn_info_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,138},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{42,42}}</string>
                <key>sourceSize</key>
                <string>{44,46}</string>
            </dict>
            <key>MainMenu_start_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{250,102}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{250,102}}</string>
                <key>sourceSize</key>
                <string>{254,106}</string>
            </dict>
            <key>MainMenu_start_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,2},{235,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,104}}</string>
                <key>sourceSize</key>
                <string>{235,104}</string>
            </dict>
            <key>general_back5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{304,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,210}}</string>
                <key>sourceSize</key>
                <string>{304,210}</string>
            </dict>
            <key>general_btn_back_main_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,2},{188,64}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{188,64}}</string>
                <key>sourceSize</key>
                <string>{192,66}</string>
            </dict>
            <key>general_btn_back_main_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,106},{178,68}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,68}}</string>
                <key>sourceSize</key>
                <string>{180,72}</string>
            </dict>
            <key>general_btn_back_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,108},{82,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{82,82}}</string>
                <key>sourceSize</key>
                <string>{84,86}</string>
            </dict>
            <key>general_btn_back_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,108},{80,80}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{80,80}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>general_btn_close_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,192},{60,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>general_btn_close_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,190},{62,64}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>general_btn_music_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,178},{68,68}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{70,68}</string>
            </dict>
            <key>general_btn_music_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,178},{68,70}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{68,70}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>general_btn_notify_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,176},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{68,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>general_btn_notify_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,106},{70,70}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>general_btn_option_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,70},{66,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,68}</string>
            </dict>
            <key>general_btn_option_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,2},{66,66}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>general_btn_sound_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,108},{68,68}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{70,68}</string>
            </dict>
            <key>general_btn_sound_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,176},{68,70}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{68,70}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>home_texture.png</string>
            <key>size</key>
            <string>{947,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eddde052eae758e61df6b00c69a32f5d$</string>
            <key>textureFileName</key>
            <string>home_texture.png</string>
        </dict>
    </dict>
</plist>
